.is-hidden {
  visibility: hidden !important;
  opacity: 0;
}

.is-visibly {
  visibility: visible !important;
  opacity: 1;
}

.slide {
  &-left {
    left: 0;
  }

  &-bottom {
    height: auto;
  }
}