---
layout: page
title: Séries
description: Séries escritas por Mateus Medeiros abordando determinados assuntos
permalink: /series/
---

{% for category in site.categories  %}
	<div class="category">
		<h2 class="category__title" id="{{ category[0] }}">{{ category[0] }}</h2>
    	<ul class="category__posts">
        	{% assign pages_list = category[1] %}
        	{% for post in pages_list reversed %}
            	{% if post.title != null %}
            	{% if group == null or group == post.group %}
            	<li class="category__posts__item"><a class="category__posts__item__link" href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="category__posts__item__date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%d %b, %Y" }}</time></span></a></li>
            	{% endif %}
            	{% endif %}
        	{% endfor %}
        	{% assign pages_list = nil %}
        	{% assign group = nil %}
    	</ul>
    </div>
{% endfor %}
