---
layout: page
title: Séries
description: Séries escritas por mim abordando determinados assuntos
permalink: /series/
---
<h2> Diversos assuntos abordados no blog </h2>
<hr>

<div class="category-list">
{% assign categories_list = site.categories %}
  {% if categories_list.first[0] == null %}
    {% for category in categories_list %}
        <a data-scroll href="#{{ category }}">{{ category }}</a>
    {% endfor %}
  {% else %}
    {% for category in categories_list %}
        <a data-scroll href="#{{ category[0] }}">{{ category[0] }}</a>
    {% endfor %}
  {% endif %}
{% assign tags_list = nil %}
</div>

<hr>

{% for category in site.categories  %}
	<div class="category">
		<h3 class="category__title" id="{{ category[0] }}">{{ category[0] }}</h3>
    	<ul class="category__posts">
        	{% assign pages_list = category[1] %}
        	{% for post in pages_list reversed %}
            	{% if post.title != null %}
            	{% if group == null or group == post.group %}
            	<li class="category__posts__item"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%d %b, %Y" }}</time></span></a></li>
            	{% endif %}
            	{% endif %}
        	{% endfor %}
        	{% assign pages_list = nil %}
        	{% assign group = nil %}
    	</ul>
    </div>
{% endfor %}
