---
layout: page
title: Tags
description: Procure os assuntos pelas tags usadas no blog
permalink: /tags/
---
<h3> Procure os assuntos pelas tags usadas no blog </h3>
<hr>

<div class="tags-list">
{% assign tags_list = site.tags %}
  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %}
        <a class="btn--default" data-scroll href="#{{ tag }}">{{ tag }}</a>
    {% endfor %}
  {% else %}
    {% for tag in tags_list %}
        <a class="btn--default" data-scroll href="#{{ tag[0] }}">{{ tag[0] }}</a>
    {% endfor %}
  {% endif %}
{% assign tags_list = nil %}
</div>

<hr>

{% for tag in site.tags  %}
	<div class="tags">
    	<h3 class="tags__title" id="{{ tag[0] }}">{{ tag[0] }}</h3>
    	<ul class="tags__posts">
        	{% assign pages_list = tag[1] %}
        	{% for post in pages_list reversed %}
            	{% if post.title != null %}
            	{% if group == null or group == post.group %}
            	<li class="tags__posts__item"><a class="category__posts__item__link" href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="category__posts__item__date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%d %b, %Y" }}</time></span></a></li>
            	{% endif %}
            	{% endif %}
        	{% endfor %}
        	{% assign pages_list = nil %}
        	{% assign group = nil %}
    	</ul>
    </div>
{% endfor %}