.btn--default {
  display: block;
  margin: 5px 0;
  padding: 3px 10px;
  border: none;
  border-radius: 5px;
  background: $color-primary;

  &:hover {
    background: $color-primary-dark;
  }

  a {
    font-size: 0.85rem;
    font-weight: normal;
    color: $color-default;

    &:hover {
      color: $color-default;
      text-decoration: none;
    }
  }
}

.btn--center {
  margin: 25px auto 10px auto;
  padding: 5px 15px;
  background: darken($color-primary, 10%);

  a {
    font-size: 1rem;
    font-weight: bold;
  }
}