// ==========================================================================
// Buttons
// ==========================================================================
button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

// Default
// ==========================================================================
.btn--default {
  width: auto;
  margin: 5px 0;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 0.85rem;
  font-weight: normal;
  color: $color-default;
  background: $color-primary;

  &:hover {
    color: $color-default;
    text-decoration: none;
    background: $color-primary-dark;
  }
}

.post__content .btn--default {
  text-decoration: none;
}

.tags-list .btn--default,
.categories-list .btn-default {
  display: inline-block;
}

// Center
// ==========================================================================
.btn--center {
  display: block;
  margin: 25px auto 10px auto;

  a {
    padding: 7.5px 15px;
    font-size: 1rem;
    font-weight: bold;
    background: darken($color-primary, 10%);
  }
}

// Pagination
// ==========================================================================
.pagination {
  margin: 15px 0;
  text-align: center;

  &__item {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 15px;
    font-size: 1rem;
    border-radius: 5px;
    background: $color-primary;
    color: $color-default;

    &--selected {
      background: $color-primary-dark;
    }

    &--disabled {
      background: lighten($color-primary, 40%);
    }
  }

  a {
    &:hover {
      background: $color-primary-dark;
      color: $color-default;
      text-decoration: none;
    }
  }
}