<section class="row author section-grey" data-aos="fade-up" data-aos-duration="500">
    <div class="col-md-4 col-lg-3 img-profile">
        <div class="image">
            <img src="/assets/img/mateus-medeiros.jpg" alt="Mateus Medeiros - Desenvolvedor Front End">
        </div>
    </div>
    <div class="col-md-8 col-lg-9 profile">
        <span class="title">Autor</span>
        <h3 class="name">
            <a class="link" href="https://github.com/mateussmedeiros/"> Mateus Medeiros </a>
        </h3>
        <p class="desc">Desenvolvedor Front End apaixonado por novas tecnologias.</p>
    </div>
</section>