<section class="author">
  <div class="author__details">
    <div class="author__img__container">
      <img src="/assets/img/perfil-mateus.jpg" alt="Mateus Medeiros - Desenvolvedor Front End" class="author__img">
    </div>
    <div class="author__info">
      <div class="author__info__container">
        <p class="author__info__title"><strong> Autor </strong></p>
        <h2 class="author__info__name">
          <a class="author__info__link" href="https://twitter.com/mateussousam"> Mateus Medeiros </a>
        </h2>
        <p class="author__info__description">Desenvolvedor Front End apaixonado por novas tecnologias.</p>
      </div>
    </div>
  </div>
</section>