{% include lgpd.html %}

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text">&copy; 2020 Mateus Medeiros - Desenvolvedor Front End</p>
            </div>

            <div class="col-12">
                <p class="text"><a href="/politica-de-privacidade" title="Conferir Política de Privacidade" class="link">Política de Privacidade</a></p>
            </div>
        </div>
    </div>
</footer>

<script src="{{ '/assets/js/vendor.min.js' | prepend: site.url }}"></script>
<script src="{{ '/assets/js/lazysizes.min.js' | prepend: site.url }}" async></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-mask-plugin@1.14.16/dist/jquery.mask.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.cookie-consent/dist/jquery.cookie-consent.min.js"></script>
<script src="{{ '/assets/js/main.min.js' | prepend: site.url }}"></script>