<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-6 col-lg-4">
        <img src="assets/images/logo.png" alt="Mateus Medeiros - Desenvolvedor Front End">
      </div>
      <div class="col-6 d-lg-none">
        <svg class="icon icon-menu"><use xlink:href="#icon-menu"></use></svg>
      </div>
      <nav class="col-lg-8">
        <ul class="menu">
          <li class="menu-item"><a href="/sobre" class="menu-link">Sobre</a></li>
          <li class="menu-item"><a href="/portfolio" class="menu-link">Portfólio</a></li>
          <li class="menu-item"><a href="/blog" class="menu-link">Blog</a></li>
          <li class="menu-item"><a href="/contato" class="menu-link">Contato</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>