<header class="banner banner-page">
  <div class="banner__wrapper">
    <div class="banner__container container">
    <!-- Navbar -->
      <nav class="navbar">
        <div class="row">
          <!-- Menu -->
          <div class="navbar__menu col-6 col-md-10">
            <div class="navbar__menu__wrapper">
              <button aria-expanded="false" aria-controls="navbar__menu__list__wrapper" aria-label="Clique para abrir o menu" class="navbar__menu__btn--open" id="menu-open" onclick="openMenu()"><svg class="svg-icon navbar-icon"><use xlink:href="#icon-menu"></use></svg></button>
              
              <div class="navbar__menu__list__wrapper" id="menu-list">
                <button aria-label="Fechar o menu" aria-controls="navbar__menu__list__wrapper" class="navbar__menu__btn--close" onclick="closeMenu()"> <svg class="svg-icon navbar-icon"><use xlink:href="#icon-close"></use></svg> </button>
                <ul class="navbar__menu__list" id="navbar-menu-list">
                  <h2 class="navbar__menu__list__title">MENU</h2>
                  <li class="navbar__menu__list__item"><a class="navbar__menu__list__item__link" aria-label="Voltar à página inicial" href="/"> Home </a></li>

                  <li class="navbar__menu__list__item"><a class="navbar__menu__list__item__link" aria-label="Conheça-me um pouco mais" href="/sobre"> Sobre Mim </a></li>

                  <li class="navbar__menu__list__item navbar__menu__list__item--dropdown" aria-haspopup="true"><a class="navbar__menu__list__item__link" aria-label="Meu blog" href="/blog"> Blog </a><svg aria-expanded="false" aria-controls="navbar__menu__dropdown" aria-label="Clique para abrir o dropdown" class="navbar-icon dropdown-icon" id="open-dropdown" onclick="controlDropdown()" ><use xlink:href="#icon-down-arrow"></use></svg>
                        
                    <ul class="navbar__menu__dropdown" id="menu-dropdown">
                      <li class="navbar__menu__dropdown__item"><a class="navbar__menu__dropdown__item__link" href="/series/" aria-label="Séries do meu blog"> Séries </a></li>

                      <li class="navbar__menu__dropdown__item"><a class="navbar__menu__dropdown__item__link" href="/tags/" aria-label="Tags utilizadas no meu blog"> Tags </a></li> 
                    </ul>

                  </li>

                  <li class="navbar__menu__list__item"><a class="navbar__menu__list__item__link" aria-label="Meus projetos" href="/projetos"> Projetos </a></li>

                  <li class="navbar__menu__list__item"><a class="navbar__menu__list__item__link" aria-label="Meu portfólio" href="/portfolio"> Portfólio </a></li>

                  <li class="navbar__menu__list__item"><a class="navbar__menu__list__item__link" aria-label="Fale comigo" href="/contato"> Contato </a></li>
                </ul>
              </div><!-- navbar__menu__list__wrapper --> 
            </div><!-- navbar__menu --> 
          </div><!-- navbar__menu__wrapper -->

          <!-- Search -->
          <div class="navbar__search col-6 col-md-2">
            <div class="navbar__search__wrapper">
              <button aria-expanded="false" aria-controls="navbar__search__wrapper-container" aria-label="Pesquisar no Blog" class="navbar__search__btn--open" id="search-open" onclick="openSearch()"><svg class="svg-icon navbar-icon"><use xlink:href="#icon-search"></use></svg></button>
            </div>
            
            <div class="navbar__search__wrapper-container is-hidden" id="search-wrapper">
              <div class="navbar__search__container">
                <input class="navbar__search__input" type="text" id="search-input" placeholder="Pesquisar posts no blog...">
                <button aria-label="Fechar barra de pesquisa" class="navbar__search__btn--close" onclick="closeSearch()"><svg class="svg-icon navbar-icon"><use xlink:href="#icon-close"></use></svg></button>
                <ul class="navbar__search__results" id="results-container"></ul>
              </div><!-- navbar__search__container -->
            </div><!-- navbar__search__wrapper-container -->
          </div><!-- navbar__search -->
        </div><!-- row -->
      </nav><!-- navbar -->

      <!-- Header -->
      <div class="header"> 
        <div class="header__wrapper">
          <div class="header__container">
            <a href="/">
              <h1 class="header__title">Mateus Medeiros</h1>
              <h2 class="header__subtitle">Desenvolvedor <b>Front End</b></h2>
            </a>
          </div><!-- header__container -->
        </div><!-- header__wrapper -->
      </div> <!-- header -->
          
    </div><!-- banner__container-->
  </div><!-- banner__wrapper -->
</header>