/*-------------
---- Reset ----
-------------*/
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 0;
    background: none;
    border: 0;
    overflow: visible;
}

/*------------
---- Body ----
------------*/
body {
    font-family: $fonte-principal;
    color: $cor-secundaria;
}

/*----------
---- Hr ----
----------*/
hr {
    margin: 10px 0;
}

/*------------------
---- Tipografia ----
------------------*/
h1 {
    font-size: 2rem;
    line-height: 3rem;
}

h2 {
    font-size: 1.75rem;
    line-height: 2.75rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

h4 {
    font-size: 1rem;
    line-height: 2rem;
}

h5 {
    font-size: 0.875rem;
    line-height: 1.875rem;
}

h6 {
    font-size: 0.75rem;
    line-height: 1.75rem;
}

p, a, li {
    font-size: 1.2rem;
    line-height: 2.2rem;
}

p {
    @extend %margens;
}

h4, h5, h6 {
    text-transform: uppercase;
}

/*-------------
---- Links ----
-------------*/
a {
    color: $cor-principal;
    text-decoration: none;

    &:hover {
        color: $cor-principal-escuro;
    }
}

/*--------------
---- Listas ----
--------------*/
ul, ol {
    margin: 10px 45px;
}

/*---------------
---- Imagens ----
---------------*/
img {
    display: block;
    margin: 5px auto;
}

/*-------------------
---- Blockquotes ----
-------------------*/
blockquote {
    border-left: 4px solid $cor-principal;
    font-size: 1.2rem;
    line-height: 2.2rem;
    letter-spacing: -1px;
    font-style: italic;
    padding-left: 10px;

    > :last-child {
        margin-bottom: 0;
    }
}