/*--------------
---- Header ----
--------------*/
.header {
  background: $cor-principal;
}

.title {
  clear: both;
  text-align: center;
  padding: 40px 0;
  
  h1 a {
    font-size: 2.8rem;
    line-height: 3.8rem;
    font-weight: 700;
    color: $branco;
  }

  h2 {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 300;
    color: $cor-secundaria;
  }
}

/*------------
---- Menu ----
------------*/
.container-menu {
  min-height: 50px;
  background-color: $cor-principal-escuro;
}

.bt-menu {
  display: none;
  float: left;
  padding: 5px 0 5px 10px;
}

.menu {
  padding: 5px 0 5px 10px;

  a {
    float: left;
    margin-right: 20px;
    font-size: 1.25rem;
    line-height: 2.25rem;
    color: $branco;

    &:last-child {
      margin-right: none;
    }

    &:hover {
      color: $cor-secundaria;
    }
  }
}

/*-----------------
---- Pesquisas ----
-----------------*/
.bt-search {
  padding: 5px 10px 5px 0;
  float: right;
}

#search-container {
    display: none;
    top: 0;
    left: 0;
    padding: 10px;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;

    input[type=text]{
        width: 400px;
        height: 30px;
        margin: 10px auto;
        background: transparent;
        border: 0;
        border-bottom: 1px solid $branco;
        outline: 0;
        text-align: center;
        font-size: 1.6rem;
        color: $branco;
    }

    ::-webkit-input-placeholder{
        color: $branco;
    }

    :-ms-input-placeholder {
        color: $branco;
    }

    ::-ms-input-placeholder {
        color: $branco;
    }

    ::-moz-placeholder {
        color: $branco;
    }

    a, p {
        display: block;
        margin: 10px;
        color: $branco;
    }

    a:hover {
        color: $cor-principal;
        text-decoration: underline;
    }
}  

/*----------------------
---- Icones Sociais ----
----------------------*/
.icon-top {
  width: 25px;
  height: 25px;
  fill: $branco;
  cursor: pointer;
}

.icon {
  width: 40px;
  height: 40px;
  margin: 5px;
  display: inline-block;
  fill: $cor-principal;

  &:hover {
    fill: $cor-principal-escuro;
  }
}

/*----------------------
---- Página Inicial ----
----------------------*/
.home {
  width: 850px;
  margin: 30px auto;
}

.welcome {
  .welcome-title {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}

.post-list {
  padding: 10px 15px;
  list-style-type: none;
}

.post-container {
  padding: 10px 15px;
  margin-bottom: 40px;
  border: 2px solid $cor-principal;

  .post-link {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: $cor-secundaria;

    &:hover {
      color: $cor-principal-escuro;
    }
  }

  .post-date {
    font-size: 0.85rem;
    line-height: 1.85rem;
  }

  .post-description {
    margin-bottom: 10px;
  }

  .post-permalink {
    text-decoration: underline;
  }
}

.tags {
  margin-top: 15px;

  a {
    @extend %botoes;
    @extend %botao-principal;
  }
}

.pagination {
  text-align: center;

  a {
    @extend %botoes;
    @extend %botao-principal;
  }

  span, .selected {
    @extend %botoes;
  }

  span {
    background: lighten($cor-secundaria, 20%);
    color: $cinza;
    font-size: 1.2rem;
    line-height: 2.2rem; 
  } 

  .selected {
    background: $cor-principal;
    color: $cinza;
  }
}

/*--------------
---- Footer ----
--------------*/
.footer {
  padding: 20px 0;
  background-color: $cor-secundaria;
  color: $branco;
  text-align: center;
}

.copy {
  p {
    margin-bottom: 0;
  }
}

/*----------------------
---- Páginas / Post ----
----------------------*/
.page, .post {
  width: 850px;
  margin: 30px auto;

  h1, h2, h3, h4, h5, h6 {
    margin: 10px 0 5px 0;
  }
}

.post {
  .post-date {
    font-size: 1em;
    line-height: 2em;
  }
}


/*------------------------
---- Compartilhamento ----
------------------------*/
.share {
  margin: 10px auto;
  text-align: center;
}

/*-------------
---- Autor ----
-------------*/
.author {
  margin: 20px auto;
  background: $cinza;
}

.details {
  clear: both;
  padding: 15px;
  display: table;
  margin: 0 auto;

  .img-author {
    width: 180px;
    height: 180px;
    float: left;
    margin: auto;
    border: 2px solid $cor-principal;
    border-radius: 50%;
  }

  .text-details {
    width: 500px;
    float: right;
    margin-left: 25px;

      .definition {
        font-size: 1rem;
        line-height: 2rem;  
      }

      h2 a {
        font-size: 1.75rem;
        line-height: 2.75rem;
      }

      p {
        margin: 0;
      }
  }
}

/*-------------------
---- Comentários ----
-------------------*/
.comments {
  clear: both;
  text-align: center;
}

/*--------------
---- Séries ----
--------------*/
.categories-list, .tags-list {
  a {
    @extend %botoes;
    @extend %botao-principal; 
  }  
}

.category, .tag {
  ul {
    margin-left: 0;
  }

  li {
    margin-bottom: 5px;
    list-style-type: none;
    border-bottom: 1px solid $cor-principal;
  }

  span {
    float: right;
  }
}

/*-----------------
---- Portfólio ----
-----------------*/
.job-container {
  display: table;
}

.job-item {
  display: inline-block;
  width: 31.5%;
  margin: 10px 0;

  & + & {
    margin-left: 1.6%;
  }

  h2, p {
    padding: 0 3px;
  }

  .job-img {
    width: 100%;
    height: 150px;
  }
}