@include media-query($bp-tablet-large) {
	.job-item {
		width: 47%;
		margin: 1%;
	}	
}

@include media-query($bp-mobile-large) {
	.header {
		h1 {
			font-size: 24pt;
			text-transform: capitalize;
		}

		h2 {
			font-size: 16pt;
		}
	}

	.img-perfil {
		width: 150px;
		height: 150px;
	}

	.navigation, .bt-search {
		display: none;
	}	
	
	.bt-menu {
		display: block;
		font-size: 16pt;
		cursor: pointer;
	}

	.menu {
		a {
			display: block;
			margin: 10px auto;
			width: 250px;
		}
	}

	.post-container {
  		padding: 0;
	}

	#search-container {

  		input[type=text]{
    		width: 90%;
  		}
	}

	.page-content {
  		padding: 25px 20px;
	}

	.author {
		text-align: center;

		.email {
			font-size: 12pt;
		}
	}

	.img-author {
		float: none;
		display: block;
		margin: 0 auto;
	}

	.job-item {
  		width: auto;

  		& + & {
   		 margin-left: 0;
  		}
	}
}