.post-blog {
    padding: 3rem 0;
    
    .post-header {
        & {
            margin-bottom: 2.5rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid darken($grey, 20);
        }
        
        .title {
            margin-bottom: 2rem;
            font-size: 2.5rem;
        }
        
        .info {
            font-size: 1rem;
        }
    }
    
    .post-content {
        p,
        a,
        li {
            font-size: 1.25rem;
        }

        a {
            color: $blue;
            transition: 0.3s;
            
            &:hover {
                color: $blue-dark;
            }
        }
        
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 1.5rem 0 1rem;
        }
        
        h2 {
            font-size: 2rem;
        }
        
        h3 {
            font-size: 1.75rem;
        }
        
        h4 {
            font-size: 1.5rem;
        }
        
        h5 {
            font-size: 1.35rem;
            text-transform: uppercase;
        }
        
        h6 {
            font-size: 1.15rem;
            text-transform: uppercase;
        }
        
        img {
            display: block;
            margin: 2rem auto;
            max-width: 100%;
            height: auto;
        }
    }
}

.author {
    .img-profile {
        display: flex;
        align-items: center;
        justify-content: center;

        .image {
            width: 200px;
            height: 200px;
            border-radius: 100%;
            overflow: hidden;
        
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .profile {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;

        @media(min-width: $bp-md) {
            align-items: flex-start;
            margin-top: 0;
        }

        .title {
            margin-bottom: .5rem;
            font-size: 1.25rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        .name {
            margin-bottom: 0.35rem;
            font-size: 1.875rem;
            font-weight: 700;
            
            .link {
                text-decoration: none;
            }
        }

        .desc {
            font-size: 1.25rem;
            text-align: center;

            @media(min-width: $bp-md) {
                text-align: left;
            }
        }
    }
}

.share {
    .title-section {
        font-size: 2rem;
    }

    .share-buttons {
        margin: 1rem 0 2rem;
        justify-content: center;

        @media(min-width: $bp-md) {
            justify-content: flex-start;
        }

        .link {
            &:not(:last-of-type) {
                margin-right: 2rem;
            }

            &:hover {
                .share-icon {
                    fill: $blue;
                }
            }
        }
    
        .share-icon {
            height: 40px;
            width: 60px;
            transition: .3s;

            @media(min-width: $bp-md) {
                height: 64px;
                width: 128px;
            }
        }
    }
}

.comments {
    .title-section {
        font-size: 2rem;
    }
}