---
layout: default
---

<h2>Blog</h2>

<ul class="post__list">
  {% for post in paginator.posts %}
    <li class="post__list__item">
      <h2>
        <a class="post__list__item__link" href="{{ post.permalink | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>

      <span class="post__list__item__date">Postado em: {{ post.date | date: "%-d %b, %Y" }}</span>

      <p class="post__list__item__description">{{ post.description }}</p>

      <button class="btn--default"><a class="post__list__item__permalink" href="{{ post.permalink | prepend: site.baseurl }}"> Leia mais...</a></button>
    </li>
  {% endfor %}

  {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a class="pagination__item" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Anterior</a>
      {% else %}
        <span>Anterior</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <span class="pagination__item--selected">{{ page }}</span>
        {% elsif page == 1 %}
          <a class="pagination__item" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
          <a class="pagination__item" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a class="pagination__item" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Próxima</a>
      {% else %}
        <span>Próxima</span>
      {% endif %}
    </div>
  {% endif %}
</ul>