%align-center-vertical {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
      -ms-align-items: center;
          align-items: center;
}

%align-center-horizontal {
  -webkit-justify-content: center;
      -ms-justify-content: center;
          justify-content: center;
}

%title-border {
  &:after {
    content: '';
    display: block;
    width: 4rem;
    height: 3px;
    margin: 0 auto;
    background-color: $color-primary;
  }
}