// ==========================================================================
// Fonts
// ==========================================================================
$font-default: "Open Sans", Arial, sans-serif;
$font-title: "Bree Serif", Georgia, serif;

// ==========================================================================
// Colors
// ==========================================================================
$color-primary: #2574a9;
$color-primary-dark: #123349;
$color-secundary: #23221e;
$color-default: #fff;

// ==========================================================================
// Breakpoints
// ==========================================================================
$bp-tablet: 768px;
$bp-mobile: 576px;