@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');

/*----------- 
--- FONTS ---
-----------*/
$font-default: 'Raleway', 'Arial', 'sans-serif';

/*------------ 
--- COLORS ---
------------*/
$black: #212121;
$blue: #246FA2;
$blue-dark: #143952;
$white: #ffffff;
$grey: #F8F8F8;

/*----------------- 
--- BREAKPOINTS ---
-----------------*/
$bp-md: 768px;
$bp-lg: 900px;
$bp-xl: 1200px;