---
layout: default
---

<article class="post-blog section-grey" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="container">
        <header class="post-header">
            <h2 class="title-section title" itemprop="name headline">{{ page.title }}</h2>
            <p class="info"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %b, %Y" }}</time> | {% for tag in page.tags %} <a class="tag" href="/tags/#{{tag}}"> #{{ tag }}</a> {% endfor %} </p>
        </header>
        
        <div class="post-content" itemprop="articleBody">
        {{ content }}
        </div>

        {% include author.html %}
    </div>
</article>

{% include share.html %}
{% include comments.html %}