.category, 
.tags {
  &__posts {
    padding-left: 0;
    list-style: none;

    &__item {
      margin-bottom: 10px;
      border-bottom: 1px solid $color-primary;

      &__link {
        &:hover {
          text-decoration: none;
        }
      }

      &__date {
        float: right;
      }
    }
  }
}

@include media-query($bp-mobile) {
  .category, 
  .tags {
    &__posts {
      &__item {
        &__link {
          font-size: 1rem;
        }
        
        &__date {
          display: none;
        }
      }
    }
  }
}