// ==========================================================================
// Container
// ==========================================================================
.banner {
  height: 100vh;
  height: 100%; // For Safari 5.1
  background: url("/assets/img/banner.jpg") fixed;
  background-size: cover;

  &__wrapper {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: stretch;
        -ms-align-items: stretch;
            align-items: stretch;
    -webkit-justify-content: center;
        -ms-justify-content: center;
            justify-content: center;
    background-color: rgba(0,0,0, 0.8);
  }
}

.banner-page {
  height: 50vh;
  height: 50%;
}

// ==========================================================================
// Navbar
// ==========================================================================
.navbar {
  height: 10%;
  padding: 30px 0;

  button {
    background: none;
    border: none;
  }
}

// Menu
// ==========================================================================
.navbar__menu {

  &__wrapper {
    @extend %align-center-vertical;
    -webkit-justify-content: flex-start;
        -ms-justify-content: flex-start;
            justify-content: flex-start;
  }

  &__btn--open,
  &__btn--close,
  &__list__title {
    display: none;
  }

  &__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
      display: inline-block;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }

      &__link {
        font-size: 1.2rem;
        line-height: 20px;
        font-weight: normal;
        color: $color-default;

        &:hover,
        &:active {
          color: $color-primary;
          text-decoration: none;
        }
      }

      &--dropdown:hover .navbar__menu__dropdown {
        visibility: visible;
      }
    }
  }

  // Dropdown
  &__dropdown {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    padding: 0;
    background: rgba(37,116,169,0.2);
    list-style: none;

    &__item {
      width: auto;

      &__link {
        display: block;
        width: 100%;
        padding: 10px 30px 10px 15px;
        font-size: 1rem;
        font-weight: normal;
        color: $color-default;

        &:hover,
        &:active {
          color: $color-primary;
          text-decoration: none;
        }
      }
    }
  }
}

@include media-query($bp-tablet) {
  .navbar__menu {
    &__list__wrapper {
      visibility: hidden;
      opacity: 0;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      transition: all .5s ease;
    }

    &__list__title {
      display: block;
      margin: 15px auto;
      font-size: 1.3rem;
      color: $color-default;
      text-align: center;
    }

    &__list {
      position: absolute;
      float: left;
      left: -20rem;
      width: 20rem;
      height: 100%;
      overflow: auto;
      background: $color-primary;
      transition: all .5s ease;

      &__item{
        display: block;
        margin-right: 0;
        border-top: 1px solid $color-default;

        &__link {
          display: block;
          width: 100%;
          padding: 15px 10px;
          font-size: 1rem;

          &:hover,
          &:active {
            color: $color-secundary;
          }
        }

        &--dropdown {
          width: 100%;

          .navbar__menu__list__item__link,
          .dropdown-icon {
            display: inline-block;
          }

          .navbar__menu__list__item__link {
            width: 80%;
            border-right: 1px solid $color-default;
          }

          .dropdown-icon {
            width: 18%;
            height: 1rem;
            margin: 0 auto;
          }
        }

        &--dropdown:hover .navbar__menu__dropdown {
          visibility: hidden;
        }
      }
    }

    &__btn--open {
      display: block;
    }

    &__btn--close {
      position: fixed;
      left: 60%;
      display: inline;
      width: 15%;
      margin-top: 30px;
    }

    &__dropdown {
      position: static;
      width: 100%;
      height: 0;
      background: $color-primary-dark;  
      transition: height .25s ease, visibly .5s ease, opacity .5s;

      &__item {
        border-top: 1px solid $color-default;

        &__link {
          display: block;
          width: 100%;
          font-size: 0.85rem;
        }
      }
    }
  }
}

@include media-query($bp-mobile) {
  .navbar__menu {
    &__list {
      width: 75%;
    }

    &__btn--close {
      left: 75%;
    }
  }  
}
// Search
// ==========================================================================
.navbar__search {

  &__wrapper {
    height: 100%;
    @extend %align-center-vertical;
    -webkit-justify-content: flex-end;
        -ms-justify-content: flex-end;
            justify-content: flex-end;
  }

  &__wrapper-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all .5s ease;
  }

  &__container {
    width: 80%;
    margin: 30px auto 0 auto;
  }

  &__input {
    width: 80%;
    height: 30px;
    border: 0;
    border-bottom: 1px solid $color-default;
    outline: 0;
    color: $color-default;
    background: transparent;

    &::-webkit-input-placeholder {
      color: $color-default;    
    }
  }

  &__btn {

    &--close {
      display: inline-block;
      width: 5%;

      .navbar-icon {
        vertical-align: middle;
      }
    }
  }

  &__results {
    margin-top: 15px;
    padding: 0;
    list-style: none;

    &__item {
      margin: 15px auto;

      &__link {
        font-weight: normal;
        color: lighten($color-primary, 10%);

        &:hover {
          color: $color-default;
        }
      }
    } 

    &--no-results {
      font-size: 1.2rem;
      font-weight: normal;
      color: $color-default;
    }
  }
}

@include media-query($bp-mobile) {
  .navbar__search__results {
    &__item {
      &__link {
        font-size: 0.85rem;
      }
    }

    &--no-results {
      font-size: 1rem;
    }
  }
}

// ==========================================================================
// Header
// ==========================================================================
.header {
  height: 80%;
  text-align: center;

  &__wrapper {
    height: 100%;
    @extend %align-center-vertical;
    @extend %align-center-horizontal;
  }

  &__img {
    width: 250px;
  }

  &__title {
    font-family: $font-title;
    font-size: 4rem;
    color: $color-default;
  }

  &__subtitle {
    font-family: $font-default;
    font-size: 2rem;
    font-weight: normal;
    color: $color-primary;
  }

  a:hover {
    text-decoration: none;
  }
}

@include media-query($bp-mobile) {
  .header {
    &__img {
      width: 200px;
    }  

    &__title {
      font-size: 2.5rem;
    }

    &__subtitle {
      font-size: 1.5rem;
    }
  }
}

// ==========================================================================
// Scroll
// ==========================================================================
.scroll{
  height: 10%;

  &__wrapper {
    text-align: center;
  }

  &-icon {
    position: relative;
    bottom: 30px;
    animation: pulse 1.2s infinite;
  }
}