// ==========================================================================
// Skylls
// ==========================================================================
.skylls {
  
  &__list {
    text-align: center;
    list-style: none;
  }
}

// ==========================================================================
// Projects
// ==========================================================================
.home .project {
  &__item {
    margin: 10px 0;

    &__img {
      float: left;
      width: 200px;
      height: auto;
      margin-right: 15px;
    }
  }
}

// ==========================================================================
// Contact
// ==========================================================================
.home .contact {
  text-align: center;

  &__item {
    margin: 10px auto;
    
    &__icon,
    &__text {
      display: inline-block;  
    }

    &__icon { 
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}