// ==========================================================================
// Sections
// ==========================================================================
.home section {
  padding: 50px 15px;
}

// ==========================================================================
// About
// ==========================================================================
.home .about {
  padding-top: 0;
}

// ==========================================================================
// Skylls
// ==========================================================================
.skylls {
  
  &__list {
    padding: 0;
    text-align: center;
    list-style: none;
  }
}

// ==========================================================================
// Projects
// ==========================================================================
.home .project {
  padding-bottom: 0;
  
  &__item {
    margin: 10px 0;

    &__img {
      float: left;
      width: 200px;
      height: auto;
      margin-right: 15px;
    }
  }
}

@include media-query($bp-mobile) {
  .home .project {
    &__item {

      &__img {
        float: none;
        display: block;
        width: 100%;
      }
    }

    &:after {
      display: block;
      content: " ";
      padding-top: 15px;
      border-bottom: 1px solid $color-secundary;
    }
  }
}

// ==========================================================================
// Blog
// ==========================================================================
.home .post__list {
  &__item {
    margin-bottom: 5px;
    padding-top: 0;

    &__title {
      font-size: 1.2rem;
    }
  }
} 

// ==========================================================================
// Contact
// ==========================================================================
.home .contact {
  padding-bottom: 0;
  text-align: center;

  &__item {
    margin: 10px auto;
    
    &__icon,
    &__text {
      display: inline-block;  
    }

    &__icon { 
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}

@include media-query($bp-mobile) {
  .home .contact {
    &__item {
      &__icon,
      &__text {
        display: block;  
      }

      &__icon {
        margin: 5px auto;
      }
    }
  }
}