// ==========================================================================
// Page
// ==========================================================================
.page-content {
  padding: 50px 0;
}

.page__title {
  margin: 15px 0;
  font-family: $font-title;
  font-size: 1.9rem;
  text-align: center;

  @extend %title-border;

  &--small{
    &:after {
      width: 2rem;
    }
  }
}

.post__title {
  font-size: 2rem;
  margin-bottom: 15px;
  border-bottom: 1px solid darken($color-default, 15px);
}

// Confirmation Page
// ==========================================================================
.confirmation-msg {
  text-align: center;
}