.btn {
    padding: .75rem 1rem;
    font-size: 1rem;
    text-align: center;
    line-height: 1.1rem;
    border-radius: 5px;
    transition: .3s;
}

.btn-up {
    padding: 1rem 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

.btn-blue {
    background: $blue;
    color: $white;

    &:hover {
        background: $blue-dark;
        color: $white;
        text-decoration: none;
    }
}